<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work From Home</title>
    <link rel="shortcut icon" href="/assets/favIcon.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/scripts/script.js" defer></script> 
</head>
<body>
    <div class="img">
        <img src="/assets/background_image.jpg" alt="Background">
    </div>
    <div class="title">
        <h1>Work From Home</h1>
        <h2>Unlock the Secrets to</h2>
        <h2>Earning $40,000 to $50,000 Every Month!</h2>
        <button id="btn">Register Now</button>
    </div>
</body>
</html>
